.header
{
  background-image: url(../images/pbuse.webp);
  height:973px;
  background-size: cover;
}

.headerInside
{
  width:1000px;
  height: inherit;
  margin:0 auto;
  position: relative;
}

.logo
{
  display: block;
  position:absolute;
  width:125px;
  height:125px;
  left:70px;
  top:24px;
  background:url(../images/sa2.svg);
  background-size:cover;
}

.welcomeWrap
{
  background-color: orange;
  width:270px;
  height:300px;
  position:absolute;
  top:336px;
  padding-left:
}

.welcome
{
  font-size:30px;
  line-height:30px;
  font-family:sans-serif,Verdana,Tahoma;
}.welcomeText
{
  font-family:sans-serif,Verdana,Tahoma;
}
.socialIconWrap
{
    position: absolute;

    display: flex;
    justify-content: space-between;

    right: 35px;
    top:30px;
    width: 150px;

    border: 1px solid black;
}
